@use 'settings/spacing';

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hunterManagement {
  display: flex;
  flex-direction: column;
  gap: spacing.$sm;
}
