@use 'settings/colors';
@use 'settings/spacing';

.campaignList {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing.$xs;

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__floating {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    svg {
      width: 2rem;
    }
  }
}
