@use 'settings/colors';
@use 'settings/spacing';

.brigadeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing.$xs;

  &__container {
    display: flex;
    flex-direction: column;
    gap: spacing.$xs;
  }

  &__floating {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    svg {
      width: 2rem;
    }
  }
}
