@use 'settings/colors';
@use 'settings/spacing';

.brigadeList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: spacing.$xs;

  &__container {
    display: flex;
    flex-direction: column;
    gap: spacing.$xs;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__floating {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    svg {
      max-width: 2rem;
    }
  }
}
